#banki .banki-student {
}

#banki .banki-student .student-ava img {
  width: 100%;
}

#zapros-banki-vote {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  flex-direction: column;
  background: black;
}

#zapros-banki-vote article {
  flex-grow: 1;
}

#zapros-banki-vote article img {
  width: 100%;
}

#zapros-banki-vote article.yes-no-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#zapros-banki-vote article div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

@media (min-width: 500px) {
  #banki .banki-student .student-ava img {
    width: auto;
    height: 50vh;
  }

  #zapros-banki-vote article img {
    height: 80vh;
  }
}

.weed-svg {
  width: 40px;
  fill: #066c06;
  stroke: #15ff37;
}

.weed-svg.smoked {
  stroke: #ff8a1d;
}
