.quiz-item {
}

.quiz-item pre {
  border: none;
  box-shadow: none;
  background: none;
}

.quiz-item .answer-variants {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  align-items: center;
  grid-row-gap: 4rem;
}

.quiz-item .answer-variant {
  width: 100%;
  height: 100%;
}

.quiz-item .answer-variant {
  width: 100%;
  height: 100%;
}

.quiz-item .answer-variant.is-selected .panel-content {
  filter: brightness(2) hue-rotate(0deg);
}

.quiz-item .answer-variant.is-correct .panel-content {
  filter: brightness(1.3) hue-rotate(263deg);
}

.quiz-item .panel {
  background: none;
  padding: 0;
  width: 100%;
  height: 100%;
}
