@import 'levels/Level.css';

#catacombs {
}

#catacombs .level-text {
  z-index: 1;
  position: absolute;
  background: #6cb03a7a;
  /* animation: level-text-anim 50s infinite; */
  background: none;
  color: white;
  padding: 1em;
  border-radius: 2em;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.5em;
}

#catacombs .level .bg-img {
}

#catacombs .level .bg-img,
#catacombs .level video {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#catacombs .level video {
  z-index: 0;
}

#catacombs .level video.hide {
  display: none;
}

#catacombs * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.level {
  --font-size: 32px;
}

.code {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 20;
  caret-color: red;
  cursor: default;
  font-family: monospace;
  color: white;
  font-size: var(--font-size);
  letter-spacing: 5px;
  line-height: 1.5;
  background: transparent;
}

.code:focus {
  outline: none;
  box-shadow: none;
  border: none;
  overflow: auto;
  z-index: 11;
  resize: none;
  padding: 20px;
}
