#kata-rating {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding-top: 25px;
}

/* grid cells */
#kata-rating > * {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#kata-rating .student-ava img {
  height: 50px;
}

#kata-rating .next-lvl {
  color: #b200ff;
}

