#catacombs {
}

#catacombs .levels {
  position: relative;
}

@keyframes top-down {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}

@keyframes cur-down {
  from {
    top: 0;
  }
  to {
    top: -100vh;
  }
}

@keyframes bottom-up {
  from {
    top: -100vh;
  }
  to {
    top: 0;
  }
}

@keyframes cur-up {
  from {
    top: 0;
  }
  to {
    top: 100vh;
  }
}

.btn {
  position: absolute;
}

.btn-up {
  left: 50%;
  top: 0;
}

.btn-down {
  left: 50%;
  bottom: 0;
}

.btn-left {
  top: 50%;
  left: 0;
}
.btn-right {
  top: 50%;
  right: 0;
}


#catacombs .level.left { left: -100vw; top: 0; }
#catacombs .level.right { right: -100vw; top: 0; }
#catacombs .levels.top { left: 0; top: -100vh; }
#catacombs .levels.bottom { left: 0; bottom: -100vh; }

#catacombs .level.cur-down { left: 0; top: 0; animation: cur-down 2s; }
#catacombs .level.top-down { left: 0; top: 100vh; animation: top-down 2s; }

#catacombs .level.cur-up { left: 0; top: 0; animation: cur-up 2s; }
#catacombs .level.bottom-up { left: 0; top: 100vh; animation: bottom-up 2s; }

#catacombs .level.cur {
  color: #eee;
  display: flex;
  left: 0;
}

@keyframes level-text-anim {
  from {
    filter: hue-rotate(0deg);
    opacity: 1;
  }
  10% {
    opacity: 0.7;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8
  }
  to {
    filter: hue-rotate(359deg);
  }
}

#catacombs .level-text {
  position: absolute;
  background: #6cb03a7a;
  /* animation: level-text-anim 50s infinite; */
  background: none;
  color: white;
  padding: 1em;
  border-radius: 2em;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.5em;
  mix-blend-mode: overlay;
}

#catacombs .level {
  left: -200vw;
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  letter-spacing: 4px;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#catacombs .level .bg-img {
  z-index: 1;
  mix-blend-mode: overlay;
}

#catacombs .level .bg-img,
#catacombs .level video {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#catacombs .level video {
  z-index: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes circle {
  from {
    opacity: 0;
  }
  to { 
    opacity: 0.7;
  }
}

.level {
  --font-size: 32px;
}
.code {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 20;
  caret-color: transparent;
  cursor: default;
  font-family: monospace;
  color: red;
  font-size: var(--font-size);
  letter-spacing: 5px;
  line-height: 1.5;
  background: transparent;
}

.code:focus {
  outline: none;
  box-shadow: none;
  border: none;
  overflow: auto;
  z-index: 11;
  resize: none;
}

.fire {
  position: absolute;
  top: -5;
  left: 0;
  z-index: 15;
  width: 20px;
  height: calc(var(--font-size) * 1.5);
  object-fit: cover;
  mix-blend-mode: luminosity; 
}

.circle {
  z-index: 3;
  animation: circle 5s infinite alternate;
  position: relative;
  top: 50%;
  left: 50%;
  height: 70vmin;
  width: 70vmin;
  filter: url(#wavy) blur(1px);
  opacity: 0.7;
}

.circle::before {
  content: "";
  position: absolute;
  top: 10vmin;
  left: 10vmin;
  right: 10vmin;
  bottom: 10vmin;
  border: 2vmin solid hsl(0, 0%, 100%);
  border-radius: 50%;
  box-shadow: 0 0 5vmin hsl(30, 100%, 50%), inset 0 0 5vmin hsl(30, 100%, 50%);
}

