#doska-pometa {
}

#doska-pometa .student-row {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

#doska-pometa .ava img {
  width: 100px;
  height: 100px;
  margin-right: 0.5em;
}

#doska-pometa .student-row .info {
}

