@import "Levels/QuestList.css";
@import "Panel.css";

#main-page .lessons-grid {
}
#main-page .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#main-page .lesson {
  font-size: 1.5em;
  letter-spacing: 4px;
  text-align: center;
  border: solid pink 2px;
}

#main-page .arrow {
  transform: rotate(90deg);
  transform-origin: center;
}

#main-page  .lesson img {
  width: 150px;
  height: 150px;
  border: solid black 3px;
  border-radius: 15px;
}

#main-page  .lesson a {
  display: block;
}

