.panel {
  --height: 100vh;
  height: var(--height);
  color: white;
  padding: 1rem;
  background: black;
}

.panel .panel-content {
  height: 100%;
  background: url('img/panel.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  padding: 10vh 45vh;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.5;
}

.panel .panel-content p {
  margin: 0.5em;
}

/*          viewBox="2180 300 1700 1400" */
