.panel {
  --height: 100vh;
  height: var(--height);
  color: white;
  padding: 1rem;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel .panel-content {
  height: fit-content;
  width: 70%;
  background: url('img/panel.jpg');
  background-size: 100% 100%;
  background-color: black;
  padding: 10%;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.4;
  /* GPU Process takes too much resources :( */
  /* text-shadow: 1px 1px 8px #208bff, 1px 1px 22px #4a77ff */
}

.panel .panel-content p {
  margin: 0.5em;
}

/*          viewBox="2180 300 1700 1400" */
