#story {
  --width: 100%;
  --height: 90vh;
  --padding: 21vh 15%;
  background: url('img/panel.jpg');
  background-size: var(--width) var(--height);
  filter: hue-rotate(34deg);
  height: var(--height);
  width: var(--width);
  padding: var(--padding);
  font-size: 1.2rem;
  color: #ddd;
  letter-spacing: 1px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.9;
}

#story p {
  margin: 0.5rem;
  opacity: 1;
  color: #dadbe4;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
}
