.lesson {
  height: 100%;
}

.lesson h1 {
  text-align: center;
}

.lesson-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.lesson-sections section.pomodoro {
  border: solid;
  border-image-source: url('/img/weed-border.png');
  border-image-slice: 50;
  border-image-width: 10;
  border-image-outset: 0;
  border-image-repeat: round;
  padding: 20px;
}

.lesson article {
  min-height: 100vh;
  width: 100%;
}

.lesson article .content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 2rem;
  line-height: 2;
}

.lesson article figure {
  width: 100%;
  text-align: center;
}

.lesson article figure img {
  height: 80vh;
}

.lesson article figure figcaption {
  text-align: center;
  font-size: 3rem;
  padding: 0.5em;
}

.task-timer {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 4rem;
}
