#mentor {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  height: 200px;
  background: black;
}

#napaleon-message {
  background: #111;
  color: #eee;
  padding: 1em;
  font-family: sans-serif;
  font-size: 1.3em;
  letter-spacing: 2px;
  line-height: 1.5;
}

#napaleon-img {
  width: 200px;
  height: 200px;
  align-self: start;
  border-radius: 4px;
}

#napaleon {
  flex: 1;
  display: flex;
  background: linear-gradient(0deg, #cfcac7, black);
  background: #111;
}

#napaleon pre {
  background: white;
  color: black;
  padding: 1em;
}

#steps-progress {
  flex: 1;
}

#steps-progress > * {
  padding: 16px;
  font-size: 20px;
  line-height: 20px;
  font-family: monospace;
  border-bottom: solid black 1px;
}

.is-completed {
  background: #39a239;
  color: white;
}

.is-completed .icon {
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 0px 2px 0px 4px;
  
}

.not-completed {
  background: #981093;
  color: white;
}

.achievements {
  display: flex;
  margin-top: 12px;
}

.achievement {
  display: flex;
  align-items: center;
  background: #eee;
  color: #111;
  margin: 4px;
  border-radius: 4px;
  padding: 8px;
  width: fit-content;
}
.achievement img {
  width: 40px;
  margin-right: 12px;
}
