#mentor {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  height: 200px;
  background: black;
}

#napaleon-message {
  color: white;
  padding: 1em;
  font-family: sans-serif;
  font-size: 1.3em;
  letter-spacing: 2px;
  line-height: 1.5;
}

#napaleon img {
  width: 200px;
  height: 200px;
}

#napaleon {
  flex: 1;
  display: flex;
  background: black;
}

#napaleon pre {
  background: white;
  color: black;
  padding: 1em;
}

#steps-progress {
  flex: 1;
}

#steps-progress > * {
  padding: 16px;
  font-size: 20px;
  line-height: 20px;
  font-family: monospace;
  border-bottom: solid black 1px;
}

.is-completed {
  background: green;
}

.is-completed .icon {
  color: green;
}

.not-completed {
  background: #981093;
  color: white;
}
