#mentor {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  height: fit-content;
  background: #111;
}

#napaleon-message, #napaleon-message::selection {
  background: #111;
  color: #eee;
  padding: 1em;
  font-size: 1.3em;
  line-height: 1.5;
  cursor: not-allowed;
}
#napaleon-message code {
  background: #efd291;
  padding: 3px;
  color: black;
  border-radius: 1px;
  font-size: 1.3rem;
}

#napaleon-message > p:first-child {
  margin-top: 0;
}

#napaleon-img {
  width: 200px;
  height: 200px;
  align-self: start;
}

#napaleon {
  flex: 1;
  display: flex;
  background: #111;
}

#napaleon pre {
  padding: 1em;
  background: white;
}

#napaleon pre code, #napaleon pre code::selection  {
  background: white;
  color: black;
  cursor: not-allowed;
}

#steps-progress {
  flex: 1;
}

#steps-progress > * {
  padding: 16px;
  font-size: 20px;
  line-height: 20px;
  font-family: var(--code-font);
  border-bottom: solid black 1px;
}

#steps-progress pre {
  display: inline-block;
}

#steps-progress code {
  display: inline-block;
}

.is-completed, .is-completed::selection, .is-completed .icon::selection {
  background: #39a239;
  color: white;
  cursor: not-allowed;
}

.is-completed .icon {
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 0px 2px 0px 4px;
  
}

.not-completed, .not-completed::selection, .not-completed .icon::selection {
  background: #981093;
  color: white;
  cursor: not-allowed;
}

.achievements {
  display: flex;
  margin-top: 12px;
}

.achievement {
  display: flex;
  align-items: center;
  background: #eee;
  color: #111;
  margin: 4px;
  border-radius: 4px;
  padding: 8px;
  width: fit-content;
}
.achievement img {
  width: 40px;
  margin-right: 12px;
}
