button {
  outline: none;
  box-shadow: none;
  cursor: pointer;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  font-family: monospace;
}

#run-button {
  position: absolute;
  top: 0;
  right: 50%;

  padding: 0 1em;
  background: green;
  color: white;
  height: 70px;
  line-height: 70px;
}
