#topbar {
  height: var(--topbar-height);
  line-height: var(--topbar-height);
  padding-left: 1rem;
  --font-size: 1.2rem;
  font-size: var(--font-size);
}

.back-button {
  display: flex;
  align-items: center;
  width: fit-content;
}

a.back-button {
  text-decoration: none;
  color: blue;
  letter-spacing: 1px;
}

.back-button-icon {
  height: var(--font-size);
  padding-right: 0.5rem;
}
