circle {
  fill: white;
  stroke: black;
}

#learning-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.learning-progress-item {
  background: #eee;
  color: #333;
  padding: 1em 2em;
  margin: 1em;
  border-radius: 0.25em;
  width: 1000px;
  font-size: 1.2rem;
  position: relative;
}

.learning-progress-item .item-text {
  margin: 0.5em;
  text-align: center;
  font-size: 1.5rem;
}

.learning-progress-item a,
.learning-progress-item a:link,
.learning-progress-item a:visited,
.learning-progress-item a:active {
  text-decoration: none;
  color: #196c92;
}

.learning-progress-item svg {
  position: absolute;
  bottom: -50px;
  left: 50%;
  height: 50px;
  width: 5px;
}

.learning-progress-item svg line {
  stroke: #3fd5ee;
  stroke-width: 5px;
  fill: none;
}

.lecture-skills {
  display: inline-flex;
  margin: 0.5em;
}

.lecture-skill {
  background: #333;
  color: #eee;
  padding: 0.4rem 0.8rem;
  margin: 0.4rem;
  font-size: 1rem;
  border-radius: 0.2rem;

  font-weight: 800;
  display:grid;
  justify-content:center;

  border-radius: 25px;
  color: #fff;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #0ba9ca, 0 0 15px #0ba9ca;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 0.7s infinite alternate;
}


@keyframes blink {
  100% {
    box-shadow: 0 0 3px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0ba9ca;
  }
}
