#error {
  position: absolute;
  bottom: 0;
  right: 0; left: 0;
  width: 100%;
  background: #d55fad;
  color: white;
  padding: 1.2em;
  font-size: 1.3em;
  border-radius: 2px;
  font-family: monospace;
}
