#error {
  position: absolute;
  bottom: 0;
  right: 0; left: 0;
  width: 100%;
  background: #d55fad;
  color: white;
  padding: 1.2em;
  font-size: 1.3em;
  border-radius: 2px;
  font-family: monospace;
}

#run-button {
  outline: none;
  box-shadow: none;

  position: absolute;
  top: 0;
  right: 50%;

  padding: 0 1em;
  background: green;
  color: white;
  height: 70px;
  line-height: 70px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: monospace;
  cursor: pointer;
  border: none;
}
