* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#playground {
  height: 100%;
  width: 100%;
}

#playground .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  width: 100%;
}

#editor {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
}

#editor code {
  margin-top: -24px;
  margin-bottom: -30px;
  font-size: 18px;
}

#editor code:focus-visible {
  outline: none;
}

#result {
  width: 100%;
  height: 100%;
}


#loader {
  position: absolute;
  right: 0;
  top: 0;
  background: green;
  color: white;
  font-size: 1.3em;
  font-family: monospace;
  padding: 16px;
  opacity: 0;
  transition: opacity 0.5s;
}

#loader.show {
  opacity: 1;
}


