.level {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  letter-spacing: 4px;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-false {
  color: #b4003b;
}
.status-true {
  color: #0077b9;
}

.oshibke {
  color: red;
}

.level {
  opacity: 1;
  transition: opacity 1s;
}

.level.complete {
  opacity: 0;
}
