.level {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  letter-spacing: 4px;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-false {
  color: #b4003b;
}
.status-true {
  color: #0077b9;
}

.oshibke {
  color: #b0009b;
}

.level {
  opacity: 1;
  transition: opacity 1s;
}

.level.complete {
  opacity: 0;
}

#catacombs .level-text {
  z-index: 1;
  position: absolute;
  bottom: 1em;
  background: #6cb03a7a;
  /* animation: level-text-anim 50s infinite; */
  background: none;
  color: white;
  padding: 1em;
  border-radius: 2em;
  font-family: 'BLOODYTERROR';
  font-size: 1.5em;
  letter-spacing: 7px;
  line-height: 2;
}

