.level {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  letter-spacing: 4px;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  --font-size: 32px;
}

.code {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 20;
  caret-color: red;
  cursor: default;
  font-family: monospace;
  color: #eee;
  font-size: var(--font-size);
  letter-spacing: 5px;
  line-height: 1.5;
  background: transparent;
  padding: 20px;
}

.status-false {
  color: var(--blood);
}
.status-true {
  color: #0077b9;
}

.oshibke {
  color: #b200ff;
}

.level {
  opacity: 1;
  transition: opacity 1s;
}

.level.complete {
  opacity: 0;
}

#catacombs .level-text {
  z-index: 1;
  position: absolute;
  bottom: 0;
  color: white;
  padding: 1em;
  padding-bottom: 2.5em;
  font-family: 'BLOODYTERROR';
  font-size: 1.5rem;
  letter-spacing: 7px;
  line-height: 2;

  max-height: 100vh;
  overflow-y: auto;
}

#catacombs .level-text:hover {
  background: black;
}
