#resume-page h1 {
  text-align: center;
  font-size: 4rem;
}

#resume-page article ul li em {
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
}

#resume-page figure img {
  max-width: 100%;
}

#resume-page figcaption {
  text-align: center;
  padding: 0.5em;
}

#resume-page a,
#resume-page a:link,
#resume-page a:hover,
#resume-page a:visited {
  color: aqua;
  text-decoration: none;
}
