@import './question.css';

#exam3-questions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em;
}

.exam3-question {
  width: 650px;
  position: relative;
}

.exam3-question-back {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 100%;
  height: 100%;
}

.exam3-question-back {
  background: url('/img/exam3/hell-fire.gif');
  background-size: cover;
}

.exam3-question .exam3-question-back {
  transition: transform 1s ease-out;
}

.exam3-question:hover .exam3-question-back {
  transform: rotateY(-90deg);
}

.exam3-question-front {
  transform: rotateY(90deg);
  padding: 1em;
}

.exam3-question .exam3-question-front {
  transition: transform 1s ease-in;
}

.exam3-question:hover .exam3-question-front {
  transform: rotateY(0);
}
