.stats-bar-chart {
}

.stats-bar-chart-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  align-items: center;
}

.chart-bar.positive rect {
  fill: green
}

.chart-bar.negative {
  fill: red
}

.chart-bar text {
  fill: #333;
}
