.stats-bar-chart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.chart-bar.positive rect {
  fill: green
}

.chart-bar.negative {
  fill: red
}

.chart-bar text {
  fill: #333;
}
