[class*="level-"] {
  background: url('achievements-sprite.jpg');
  width: 130px;
  height: 120px;
}
.level-1 {
  background-position: 2 0;
}

.level-2 {
  background-position: -132 0;
}

.level-3 {
  background-position: -268 0;
}

.level-4 {
  background-position: -398 0;
}

.level-5 {
  background-position: -530 0;
}

.level-6 {
  background-position: -660 0;
}

.level-7 {
  background-position: -800 0;
}

body {
  display: grid;
  background: #15161e;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows:  repeat(4, 1fr);
}

.row {
  grid-column-start: 1;
  color: white;
}

img.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#johnny {
  grid-column-start: 2;
}

#dimon {
  grid-column-start: 2;
}

#tony {
  grid-column-start: 1;
}
