#online-students {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  --border-width: 2px;
}

#online-students .student-ava {
  margin: var(--border-width);
}

#online-students .student-ava img {
  border-radius: 7px;
  width: 200px;
  height: 200px;
}

#online-students .student-ava {
  filter: grayscale(100%);
  transition: all 1s;
}

#online-students .student-ava.online {
    filter: grayscale(0%);
    border: var(--border-width) solid #0cff0c;
    border-radius: 7px;
    box-shadow: 0 0 10px #0cff0c,
      0 0 15px #0cff0c;
}
#online-students .student-ava figcaption {
  height: 4em;
  background: black;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 1rem;
}

#online-students .student-ava:hover figcaption {
  display: flex;
  opacity: 1;
}
