#online-log .student-ava {
  width: 100px;
  height: auto;
}

#online-log .student-row {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

#online-log .online-log-day {
  border: solid white 1px;
  padding: 8px;
}
