#slides-v1 {
  overflow: hidden;
  height: 100%;
  margin: 0px;
  padding: 0px 70px;
  gap: 0;
  box-sizing: border-box;
  position: relative;
}

#slides-v1 .page-content {
  font-size: 24px;
  padding: 0;
}

#slides-v1 .page-content h2 {
  text-align: center;
  background-image: url('img/heading-background.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  line-height: 70px;
  color: #1b9833;
  margin: 0;
  margin-bottom: 1em;
  font-family: sans-serif;
  letter-spacing: 4px;
}

#slides-v1 .page-content h3 {
  padding-left: 1em;
  letter-spacing: 4px;
  font-family: sans-serif;
  font-size: 1.5em;
  margin: 0;
}

#slides-v1 .page-content p {
  padding: 1em;
}

#slides-v1 .page-content figure {
  text-align: center;
  margin: 0;
  max-height: 100%;
  position: relative;
}

#slides-v1 .page-content figure img {
  height: calc(100vh - 280px - 2em);
  max-width: 100%;
}

#slides-v1 .page-content figure video {
  max-height: calc(100vh - 280px);
  width: auto;
}

#slides-v1 .page-content figcaption {
  font-size: 1.5em;
  margin-top: 1em;
  font-family: sans-serif;
  letter-spacing: 4px;
}

#slides-v1 .expectations-form {
  padding: 2em 5em;
}

#slides-v1 .expectations-form input {
  font-size: 1em;
  width: 100%;
}

#slides-v1 .expectations-form label {
  font-size: 2em;
}

#slides-v1 #timer {
  color: white;
  font-size: 3em;
  position: absolute;
  top: 80px;
  left: 200px;
  display: none;
}

#slides-v1 .expectation-reality {
  padding: 0;
  text-align: center;
  font-size: 1.25em;
}

#slides-v1 .expectation-reality ul {
  list-style: none;
  line-height: 1.5;
  letter-spacing: 2px;
}

#slides-v1 .rules p {
  font-size: 1.5em;
  padding: 0 0.5em;
  letter-spacing: 2px;

}

#slides-v1 .lety4ka-tasks {
  display: none;
  padding: 0.5em;
  position: absolute;
  top: 0;
  left: 2.5em;
  z-index: 1;
  text-align: left;
  font-size: 1.5em;
  letter-spacing: 2px;
  line-height: 1.75;
  background: rgba(0, 0, 0, 0.4);
  right: 0; bottom: 2em;
}

#slides-v1 .tag {
  color: red;
  font-weight: bold;
}

#slides-v1 .english-video-slide {
  position: relative;
  word-break: break-word;
  --height: 80vh;
  height: var(--height);
}

#slides-v1 .english-video-slide .subs,
#slides-v1 .english-video-slide .video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#slides-v1 .english-video-slide .subs {
  top: 0;
  left: 1em;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  height: calc(var(--height) - 3em);
  z-index: 2;
  overflow-y: scroll;
}

#slides-v1 .subs::-webkit-scrollbar {
  width: 4px;
  background-color: var(--secondary);
}

#slides-v1 .subs::-webkit-scrollbar-track {
   background: var(--primary);;
}

#slides-v1 .subs::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}

#slides-v1 .english-video-slide .subs p {
  margin: 0.5em;
  padding: 0.5em;
  color: white;
  cursor: pointer;
}

#slides-v1 .english-video-slide .subs p:hover {
  background: rgba(50, 0, 10, 1);
  transition: all 0.5s;
}

#slides-v1 .english-video-slide .video {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--height);
}

#slides-v1 .page-content .english-video-slide figure video {
  height: calc(var(--height));
  max-height: unset;
  max-width: 100%;
}

#slides-v1 .certificate .pechat {
  position: absolute;
  bottom: 5em;
  right: 10em;
  width: 150px;
  height: 150px;
}

#slides-v1 .certificate .pechat img {
  position: absolute;
  width: 200px;
  height: 200px;
}

@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#slides-v1 .certificate .pechat img:nth-child(1) {
  animation: opac 2s infinite alternate;
}

#slides-v1 .certificate .pechat img:nth-child(2) {
  animation: opac 2s alternate-reverse infinite;
}

#slides-v1 .page-content h2.cert-heading {
  font-family: "Times New Roman";
  letter-spacing: 10px;
  font-size: 3em;
}

#slides-v1 .certificate .text {
  position: absolute;
  left: 8em;
  top: 10em;
  font-family: monospace;
  letter-spacing: 4px;
}

#slides-v1 .certificate .text p {
  font-size: 1.3em;
  padding: 0;
  margin: 1em;
  text-align: justify;
}

#slides-v1 .certificate .text p.student {
  color: pink;
  font-size: 3em;
  letter-spacing: 10px;
  text-align: center;
  line-height: 0.5;
}

#slides-v1 td {
  padding: 0;
  height: 100%;
}

#slides-v1 .expectations-form {
  padding: 2em 5em;
}

#slides-v1 .expectations-form input {
  font-size: 1em;
  width: 100%;
}
#slides-v1 .expectations-form label {
  font-size: 2em;
}

#slides-v1 .expectation-reality {
  padding: 0;
  text-align: center;
  font-size: 1.25em;
}

#slides-v1 .expectation-reality ul {
  list-style: none;
  line-height: 1.5;
  font-family: sans-serif;
  letter-spacing: 2px;
}

#slides-v1 .rules p {
  font-size: 1.5em;
  padding: 0 0.5em;
  font-family: sans-serif;
  letter-spacing: 2px;

}

#slides-v1 .lety4ka-tasks {
  display: none;
  padding: 0.5em;
  position: absolute;
  top: 0;
  left: 2.5em;
  z-index: 1;
  text-align: left;
  font-size: 1.5em;
  font-family: monospace;
  letter-spacing: 2px;
  line-height: 1.75;
  background: rgba(0, 0, 0, 0.4);
  right: 0; bottom: 2em;
}

#slides-v1 .tag {
  color: red;
  font-weight: bold;
}

#slides-v1 .height100 {
  height: 100%;
}

#slides-v1 .page-content iframe {
  width: 80vw;
  height: 70vh;
}

#slides-v1 .next-slide-btn,
#slides-v1 .prev-slide-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  font-size: 4em;
}

#slides-v1 .next-slide-btn {
  right: 0;
}

#slides-v1 .prev-slide-btn {
  left: 0;
}
