@import "QuestStory.css";
@import "mentor.css";
@import "quests/FrictionTable.css";

#quest-page {
  background: white;
  color: black;
}

#quest-page h3 {
  color: #333;
}

#quest-page *:not(pre) > code {
  padding: 5px;
  font-size: 0.9em;
  white-space: nowrap;
  border-radius: 2px;
}


#playground {
  width: 100%;
  --topbar-height: 50px;
  position: relative;
  background: black;
}

iframe {
  border: none;
  background: white;
}

button {
  outline: none;
  box-shadow: none;
  cursor: pointer;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  font-family: var(--code-font);
}

#run-button {
  position: absolute;
  top: 0;
  right: 50%;

  padding: 0 1em;
  background: green;
  color: white;
  height: 70px;
  line-height: 70px;
}

#playground .grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  min-height: 70vh;
}

#editor {
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
}

#editor code:focus-visible {
  outline: none;
}

#result {
  width: 100%;
  height: 100%;
}


#loader {
  position: absolute;
  right: 0;
  top: var(--topbar-height);
  background: green;
  color: white;
  font-size: 1.3em;
  font-family: var(--code-font);
  padding: 16px;
  opacity: 0;
  transition: opacity 0.5s;
}

#loader.show {
  opacity: 1;
}

#playground pre[class*=language-],
#mentor pre[class*=language-] {
  box-shadow: none;
  border: #eee solid 2px;
}

pre[class*=language]#editor {
  border: none;
}

#quest-story a
#quest-story a:link,
#quest-story a:visited {
  text-decoration: none;
  color: aqua;
  font-style: normal;
}
