.exam2-content{
    text-align: center;
  }
  
  
  
  .answerStatusExam2El{
    margin-top: 20px;
  }
  .questionElExam2{
    transition: background-color 5s;
    background-color: transparent;
  }
  
  .exam2-correct-answer{
    background-color: green;
  }