@import './AvatarCorner/AvatarCorner.css';
@import './Students/StudentCard.css';
@import './Students/StatsBarChart/StatsBarChart.css';

#home-page {
  box-sizing: border-box;
  font-size: 24px;
  display: grid;
  grid-template-rows: [top] 70px [center] auto [bottom] 70px;
  grid-template-columns: [left] 160px [center] auto [right] 160px;
  gap: 0;
  background: black;
}

#home-page .page-content {
  grid-row: center / bottom;
  grid-column: center / right;

  font-size: 24px;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  #bottom-bar {
    display: none;
  }
}

#home-page .h2 {
  text-align: center;
  background-image: url('img/heading-background.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  line-height: 70px;
  color: #5418b9;
  margin: 1em 0;
  letter-spacing: 4px;
  font-size: 2rem;
}

#home-page > p {
  padding: 1em;
}

#home-page h1 {
  margin: 0;
  margin-bottom: 0.5em;
  letter-spacing: 10px;
}

#home-page > section {
  padding: 0 2em;
}

#home-page h3 {
  letter-spacing: 4px;
  font-size: 1.5em;
  margin: 0.5em 0;
  text-align: center;
  color: var(--primary);
}


#home-page .weed-border-top-left {
  grid-row: top;
  grid-column: left;
}

#home-page .weed-border-top-right {
  grid-row: top;
  grid-column: right;
  background: url("img/logo_left.png");
  transform: rotate(180deg) scaleY(-1);
}

#home-page .weed-border-left {
  grid-row: span;
  grid-column: left;
  background: url("img/logo_leftt.png");
}

#home-page .weed-border-right {
  grid-column: right;
  background: url("img/logo_leftt.png");
  transform: rotate(180deg);
}

#home-page .weed-border-top-center {
  grid-row: top / center;
  grid-column: center / right;
  background: url("img/logo_top.png");
}

#home-page .weed-border-bottom-center {
  grid-column: center;
  grid-row: bottom;
  background: url("img/logo_top.png");
  transform: scaleY(-1);
}

#home-page .weed-border-right-bottom {
  grid-row: bottom;
  grid-column: right;
  background: url("img/logo_left.png");
  transform: rotate(180deg);
}

#home-page .weed-border-left-bottom {
  grid-row: bottom;
  grid-column: left;
  background: url("img/logo_left.png");
  transform: scaleY(-1);
}

