:root {
  --primary: #04ff67;
  --secondary: #d86deb;
}

#home-page {
  height: 100%;
  display: grid;
  grid-template-rows: [top] 70px [center] auto [bottom] 70px;
  grid-template-columns: [left] 160px [center] auto [right] 160px;
  gap: 0;
  box-sizing: border-box;
  background: black;
}

.page-content {
  grid-row: center / bottom;
  grid-column: center / right;

  font-size: 24px;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.weed-border-top-left {
  grid-row: top;
  grid-column: left;
}

.weed-border-top-right {
  grid-row: top;
  grid-column: right;
  background: url("img/logo_left.png");
  transform: rotate(180deg) scaleY(-1);
}

.weed-border-left {
  grid-row: span;
  grid-column: left;
  background: url("img/logo_leftt.png");
}

.weed-border-right {
  grid-column: right;
  background: url("img/logo_leftt.png");
  transform: rotate(180deg);
}

.weed-border-top-center {
  grid-row: top / center;
  grid-column: center / right;
  background: url("img/logo_top.png");
}

.weed-border-bottom-center {
  grid-column: center;
  grid-row: bottom;
  background: url("img/logo_top.png");
  transform: scaleY(-1);
}

.weed-border-right-bottom {
  grid-row: bottom;
  grid-column: right;
  background: url("img/logo_left.png");
  transform: rotate(180deg);
}

.weed-border-left-bottom {
  grid-row: bottom;
  grid-column: left;
  background: url("img/logo_left.png");
  transform: scaleY(-1);
}

.page-content h2 {
  text-align: center;
  background-image: url('img/heading-background.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  line-height: 70px;
  color: #5418b9;
  margin: 0;
  margin-bottom: 1em;
  letter-spacing: 4px;
}

.page-content p {
  padding: 1em;
}

.page-content figure {
  text-align: center;
  margin: 0;
  max-height: 100%;
  position: relative;
}

.page-content figure img {
  height: calc(100vh - 280px - 2em);
  max-width: 100%;
}

.page-content figure video {
  max-height: calc(100vh - 280px);
  width: auto;
}

.page-content figcaption {
  font-size: 1.5em;
  margin-top: 1em;
  letter-spacing: 4px;
}

.page-content p {
}

td {
  padding: 0;
  height: 100%;
}

.height100 {
  height: 100%;
}

.page-content iframe {
  width: 80vw;
  height: 70vh;
}

h1 {
  margin: 0;
  margin-bottom: 0.5em;
  letter-spacing: 10px;
}

section {
  padding: 0 2em;
}

section#main-page-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section#main-page-links article {
  width: 30%;
  margin: 0 10%;
  margin-bottom: 10%;
}

section#main-page-links article img {
  width: 100%;
}

h3 {
  letter-spacing: 4px;
  font-size: 1.5em;
  margin: 0.5em 0;
  text-align: center;
  color: var(--primary);
}

.page-content {
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
.page-content::-webkit-scrollbar {
  width: 4px;
  background-color: var(--secondary);
}

.page-content::-webkit-scrollbar-track {
   background: var(--primary);;
}

.page-content::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}

.homework {
  padding: 0;
}
