@import './AvatarCorner/AvatarCorner.css';

#home-page {
  box-sizing: border-box;
  border: 40px solid transparent;
  font-size: 24px;
}

@media (max-width: 768px) {
  #bottom-bar {
    display: none;
  }
}

#home-page .h2 {
  text-align: center;
  background-image: url('img/heading-background.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 70px;
  line-height: 70px;
  color: #5418b9;
  margin: 1em 0;
  letter-spacing: 4px;
  font-size: 2rem;
}

#home-page > p {
  padding: 1em;
}

#home-page h1 {
  margin: 0;
  margin-bottom: 0.5em;
  letter-spacing: 10px;
}

#home-page > section {
  padding: 0 2em;
}

#home-page h3 {
  letter-spacing: 4px;
  font-size: 1.5em;
  margin: 0.5em 0;
  text-align: center;
  color: var(--primary);
}
