@import 'Chapter.css';

body.vangers-page {
  overflow: hidden;
}

#vangers {
  width: fit-content;
}

#vangers #message-panel,
#vangers #hint {
  color: #99ae05;
  font-size: 1rem;
  height: 12%;
  width: 47vw;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.1;
  text-align: center;
}

#vangers #message-panel {
  position: absolute;
  top: 10.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#vangers #message-panel p {
  margin: 0;
}

#vangers #background-img {
  position: absolute;
  z-index: -1;
  height: 100vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

#vangers code {
  color: #d16407;
}

#vangers #video-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44vw;
  height: 64vh;
  overflow: hidden;
  text-align: center;
}

#vangers #video-container video {
  top: 50%;
  left: 50%;
  position: absolute;
  height: 100vh;
  transform: translate(-50%, -50%);
}

#vangers #intro-vid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
}

#vangers .push {
  animation: btnanimation 2s infinite alternate;
}

#vangers #next-step-img {
  opacity: 0;
  position: absolute;
  top: -0.2vh;
  right: 50%;
  transform: translate(66.5vh, 0);
  height: 22.2vh;
  cursor: pointer;
}

#vangers #prev-step-img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  height: 20.6vh;
  animation: btnanimation 4s infinite alternate;
  transform: translate(-65.2vh, 0);
  cursor: pointer;
}

@keyframes btnanimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#vangers #hint {
  position: absolute;
  left: 32vw;
  top: 23vh;
  background: black;
  border-radius: 35%;
  width: 174px;
  height: 151px;
  word-break: break-word;
}
