.quest {
  position: relative;
}

.quest img {
  width: 150px;
  height: 150px;
  border: solid black 2px;
  border-radius: 16px;
  margin: 16px;
}

.quest.is-completed img {
  border-color: #62b628;
  border-width: 5px;
}

.quest.is-completed::after {
  content: "✔";
  position: absolute;
  bottom: 32;
  right: 32;
  font-size: 32;
  color: #62b628;
}

