@import "Levels/QuestList.css";
@import "Story.css";


html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: monospace;
  background: url('img/metalhd.webp');
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  color: #333;
  font-family: monospace;
}

