#coursework article {
  padding: 1em;
}

#coursework article figure {
  text-align: center;
}

#coursework article figure img {
  max-width: 100%;
  max-height: 80vh;
}

#coursework .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#coursework .card {
  text-align: center;
}
