.entry-element {
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.2);
  padding: 1em;
  margin: 0.5em;
}

.category-element {
  padding: 1em;
  background: rgba(255, 255, 255, 0.1);
}

.entry-element-header {
  display: flex;
  gap: 50px;
}
