@import './AddSkillForm.css';
@import './ExperienceHistory.css';

.student-card {
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.student-card img {
  width: 200px;
}

.student-card .avatar-row {
  display: flex;
  gap: 50px;
}

.show-experience-button {
  font-size: 1rem;
}
