#profile svg {
  width: 100%;
  height: 100%;
  transition: all 1s;
}

#profile svg.selected {
  filter: hue-rotate(-110deg);
}

#profile svg text {
  fill: #60a7ac;
}

#avatarCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#avatarCanvas:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

#codecademy,
#codecademy-text {
  cursor: pointer;
}
