.figure:hover {
  height: 100vh;
}

.figure {
  text-align: center;
  margin: 0;
  max-height: 100%;
  position: relative;
  border: solid white 2px;
  padding: 1em;
  height: 50vh;
  transition: all 0.5s;
  width: fit-content;
  margin: 1em auto;
}

.figure img,
.figure video {
  height: calc(100% - 4rem);
}

.figure figcaption {
  font-size: 1.5rem;
  margin-top: 1em;
  letter-spacing: 4px;
  text-align: center;
}
