:root {
  --primary: #04ff67;
  --secondary: #d86deb;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  background: black;
  color: #ddd;
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 1px;
}
j
body {
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
body::-webkit-scrollbar {
  width: 2px;
  background-color: black;
}

body::-webkit-scrollbar-track {
   background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #0a6db8;
}

h2 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 4px;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #285bcb;
  font-style: normal;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}


* {
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
   background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.weed-svg {
  width: 40px;
  fill: #066c06;
  stroke: #15ff37;
}

.weed-svg.smoked {
  stroke: #ff8a1d;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.fade-out {
  animation: fade-out 2s linear forwards!important;
  animation-delay: 0;
}

.fade-out-1s {
  animation: fade-out 1s linear forwards!important;
  animation-delay: 0;
}

.fade-in {
  opacity: 0;
  animation: fade-in 2s forwards;
}

