@import 'Login.css';
@import 'BottomBar.css';
@import 'typography.css';
@import 'HomePage/HomePage.css';

:root {
  --top-border-size: 70px;
  --side-border-size: 160px;
}

* {
  box-sizing: border-box;
}
