@import 'app.css';

:root {
  --top-border-size: 70px;
  --side-border-size: 160px;
}

* {
  box-sizing: border-box;
}

.contentEl{
  text-align: center;
}



.answerStatusEl{
  margin-top: 20px;
}
.questionEl{
  transition: background-color 5s;
  background-color: transparent;
}

.true{
  background-color: green;
}