.expectations-form {
  padding: 2em 5em;
}

.expectations-form input {
  font-size: 1em;
  width: 100%;
}
.expectations-form label {
  font-size: 2em;
}

#timer {
  color: white;
  font-size: 3em;
  position: absolute;
  top: 80px;
  left: 200px;
}

.expectation-reality {
  padding: 0;
  text-align: center;
  font-size: 1.25em;
}

.expectation-reality ul {
  list-style: none;
  line-height: 1.5;
  letter-spacing: 2px;
}

.rules p {
  font-size: 1.5em;
  padding: 0 0.5em;
  letter-spacing: 2px;

}

.lety4ka-tasks {
  display: none;
  padding: 0.5em;
  position: absolute;
  top: 0;
  left: 2.5em;
  z-index: 1;
  text-align: left;
  font-size: 1.5em;
  letter-spacing: 2px;
  line-height: 1.75;
  background: rgba(0, 0, 0, 0.4);
  right: 0; bottom: 2em;
}

.tag {
  color: red;
  font-weight: bold;
}

.english-video-slide {
  position: relative;
  word-break: break-word;
  --height: 80vh;
  height: var(--height);
}

.english-video-slide .subs,
.english-video-slide .video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.english-video-slide .subs {
  top: 0;
  left: 1em;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  height: calc(var(--height) - 3em);
  z-index: 2;
}

.english-video-slide .subs p {
  margin: 0.5em;
  padding: 0.5em;
  color: white;
}

.english-video-slide .subs p:hover {
  background: rgba(50, 0, 10, 1);
  transition: all 0.5s;
}

.english-video-slide .video {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--height);
}

.page-content .english-video-slide figure video {
  height: calc(var(--height));
  max-height: unset;
  max-width: 100%;
}
