#topbar {
  height: var(--topbar-height);
  line-height: var(--topbar-height);
  padding-left: 1rem;
  padding-top: 0.5rem;
  --font-size: 1.2rem;
  font-size: var(--font-size);
}

#topbar.surface-black .back-button {
  background: #eee;
  padding: 0.5rem;
  border-radius: 2px;
}
