@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Slab&display=swap');

:root {
  --code-font: 'Nunito', sans-serif;
}

body {
  font-family: 'Roboto Slab', serif;
}

code {
  font-family: 'Nunito', sans-serif;
  /* From Prism - looks nice indeed :)
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  */
}
