@import "QuestCardBorder.css";

.quest-card {
  --width: 500px;
  --height: 500px;
  --padding: 16px 32px;
  --box-size: 250px;
  width: var(--width);
  height: var(--height);
  border-radius: 4px;
  padding: var(--padding);
  margin: 32px;
  position: relative;
  overflow: hidden;
}

.quest-card-body {
  width: 100%;
}

a.quest-card,
a.quest-card:visited,
a.quest-card:hover,
a.quest-card:active {
  color: #eee;
  text-decoration: none;
}

.quest-card-caption {
  --caption-size: 8rem;
  height: var(--caption-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.completion {
  color: white;
}

.curse,
.forgotten {
  position: relative;
  font-size: 1.2rem;
  width: 80%;
  color: #e44138;
}

.quest-card-completions .new  {
  color: white;
}

.forgotten path {
  stroke: #e44138;
}
.completion, .curse path {
  stroke: #4180c9;
}

.quest {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}


.quest-card-title {
  --padding: 8px;
  padding: var(--padding);
  color: #67a4ff;
  border-bottom: solid #3afaf5 1px;
  text-align: center;
  font-size: 1rem;
  line-height: 2;
}

.quest-card-title code {
  background: black;
  color: #eee;
  padding: 2px 4px;
  border-radius: 2px;
}

.quest img,
.quest-html-img {
  max-width: 100%;
  min-height: 300px;
  max-height: 400px;
}

.quest.is-completed img {
}

.quest.is-completed::after {
  content: "✔";
  position: absolute;
  bottom: 32;
  right: 32;
  font-size: 20px;
  background: #62b628;
  color: #333;
  border-radius: 8px;
  width: 20px;
  height: 20px;
  padding: 4px 0 4px 8px;
  line-height: 20px;
}

.quest-skills-list {
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--box-size);
  overflow: hidden;
  padding: 2em;
  display: none;
}

.quest:hover .quest-skills-list {
  display: flex;
}

.quest-skill {
  background: rgb(127, 178, 222);
  color: white;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.quest-html-img {
  background: black;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.quest-html-img pre {
  border: none;
  padding: 0;
  margin: 0;
}

.status-new path,
.status-homework path {
  stroke: blue;
}
.status-forgotten path {
  stroke: red;
}
.status-completed path {
  stroke: green;
}

.homework-done-badge {
  position: absolute;
  left: 20;
  top: 20;
  z-index: 1;
}

.homework-done-badge svg, .homework-done-badge img {
  width: 30px;
  margin: 5px;
}

  @keyframes highlight {
    0% { transform: rotate(0)}
    25% { transform: rotate(15deg) }
    50% {  transform: rotate(-15deg) }
    75% {  stroke: #ff8a1d;}
  }

.homework-done-badge svg {
  transition: all 1s;
  fill: #066c06;
  stroke: #15ff37;
  animation: highlight 3s ease infinite alternate;
}

.status-homework-done {
  border: solid;
  border-image-source: url('/img/weed-border.png');
  border-image-slice: 50;
  border-image-width: 10;
  border-image-outset: 0;
  border-image-repeat: round;
  padding: 20px;
}

.status-forgotten {
  /* background: black; */
}

@keyframes huerotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
    top: -50px; right: -50px; bottom: -50px; left: -50px;
    border-radius: 50%;
  }
}

@keyframes skull {
  0% {
    background-size: 100% 100%;
    background-position: center center;
    opacity: 0;
    filter: hue-rotate(0deg);
  }

  100% {
    background-size: 150% 150%;
    background-position: center center;
    opacity: 1;
    filter: hue-rotate(100deg);
  }
}

.forgotten-status-overlay,
.forgotten-status-overlay-background,
.forgotten-status-box-shadow {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: 4px;
}


.forgotten-status-overlay {
  background-image: url('/img/diablo-skull.jpeg');
  animation: skull 6s infinite alternate ease-in-out,
  huerotate 6s infinite alternate ease-in-out;
  background-size: 100% 100%;
  z-index: 3;
}

