.quest-card {
  --box-size: 250px;
  width: 500px;
  border-radius: 4px;
  background: #eee;
  padding: var(--padding);
  margin: 32px;
  position: relative;
  display: flex;
}
.quest-card .left,
.quest-card .right {
  width: 50%;
}

.quest-card .left {
  box-shadow: 2px 2px 2px #888;
  overflow: hidden;
}

a.quest-card,
a.quest-card:visited,
a.quest-card:hover,
a.quest-card:active {
  color: #eee;
  text-decoration: none;
}

.quest-card-caption {
  --caption-size: 8rem;
  height: var(--caption-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.completion, .curse {
  background: #4ed431;
  color: #150404;
  border-bottom: solid #333 2px;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.quest-card-completions .curse {
  background: #b437f3;
}

.quest {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.quest-title {
  --padding: 8px;
  padding: var(--padding);
  background: #eee;
  color: #333;
  text-align: center;
  font-size: 1rem;
  line-height: 2;
}

.quest-title code {
  background: #333;
  color: #eee;
  padding: 2px 4px;
  border-radius: 2px;
}

.quest img,
.quest-html-img {
  width: var(--box-size);
  height: var(--box-size);
}

.quest.is-completed img {
}

.quest.is-completed::after {
  content: "✔";
  position: absolute;
  bottom: 32;
  right: 32;
  font-size: 20px;
  background: #62b628;
  color: #333;
  border-radius: 8px;
  width: 20px;
  height: 20px;
  padding: 4px 0 4px 8px;
  line-height: 20px;
}

.quest-skills-list {
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--box-size);
  overflow: hidden;
  padding: 2em;
  display: none;
}

.quest:hover .quest-skills-list {
  display: flex;
}

.quest-skill {
  background: rgb(127, 178, 222);
  color: white;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.quest-html-img {
  background: #141414;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.quest-html-img pre {
  border: none;
  padding: 0;
  margin: 0;
}

/* Glow :)
 * https://codersblock.com/blog/creating-glow-effects-with-css/
 */
.status-new {
  box-shadow:
    0 0 10px 2px #fff,  /* inner white */
    0 0 20px 4px #0f0, /* middle green */
    0 0 30px 6px #0ff; /* outer orange */
}

.status-homework {
  box-shadow:
    0 0 10px 2px #fff,  /* inner white */
    0 0 20px 4px #00f, /* middle blue */
    0 0 30px 6px #0ff; /* outer orange */
}

.homework-done-badge {
  position: absolute;
  left: 20;
  top: 20;
  z-index: 1;
}

.homework-done-badge svg, img {
  width: 30px;
  margin: 5px;
}

  @keyframes highlight {
    0% { transform: rotate(0)}
    25% { transform: rotate(15deg) }
    50% {  transform: rotate(-15deg) }
    75% {  stroke: #ff8a1d;}
  }

.homework-done-badge svg {
  transition: all 1s;
  fill: #066c06;
  stroke: #15ff37;
  animation: highlight 3s ease infinite alternate;
}

.status-homework-done {
  border: solid;
  border-image-source: url('/img/weed-border.png');
  border-image-slice: 50;
  border-image-width: 10;
  border-image-outset: 0;
  border-image-repeat: round;
  padding: 20px;
}

.status-forgotten {
  /* background: black; */
}

@keyframes huerotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
    top: -50px; right: -50px; bottom: -50px; left: -50px;
    border-radius: 50%;
  }
}

@keyframes skull {
  0% {
    background-size: 100% 100%;
    background-position: center center;
    opacity: 0;
    filter: hue-rotate(0deg);
  }

  100% {
    background-size: 150% 150%;
    background-position: center center;
    opacity: 1;
    filter: hue-rotate(100deg);
  }
}

.forgotten-status-overlay,
.forgotten-status-overlay-background,
.forgotten-status-box-shadow {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: 4px;
}


.forgotten-status-overlay-background {
  z-index: 2;
  background-color: rgb(135 28 8 / 43%);
}

.forgotten-status-overlay {
  background-image: url('/img/diablo-skull.jpeg');
  animation: skull 6s infinite alternate ease-in-out,
  huerotate 6s infinite alternate ease-in-out;
  background-size: 100% 100%;
  z-index: 3;
}

.forgotten-status-box-shadow {
  animation: huerotate 6s infinite alternate ease-in-out;
    box-shadow: 0 0 10px 2px #841707, 0 0 20px 4px #7a1616, 0 0 30px 6px #731c1c;
}
