.quest-card {
  --box-size: 250px;
  width: 500px;
  border-radius: 4px;
  overflow: hidden;
  background: #eee;
  padding: var(--padding);
  margin: 32px;
  position: relative;
  display: flex;
}
.quest-card .left,
.quest-card .right {
  width: 50%;
}

.quest-card .left {
  box-shadow: 2px 2px 2px #888;
}

.quest-card a,
.quest-card a:visited,
.quest-card a:hover,
.quest-card a:active {
  color: #eee;
  text-decoration: none;
}

.quest-card-caption {
  --caption-size: 8rem;
  height: var(--caption-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.completion, .curse {
  background: #4ed431;
  color: #150404;
  border-bottom: solid #333 2px;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.quest-card-completions .curse {
  background: #b437f3;
}

.quest {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.quest-title {
  --padding: 8px;
  padding: var(--padding);
  background: #eee;
  color: #333;
  text-align: center;
  font-size: 1rem;
  line-height: 2;
}

.quest-title code {
  background: #333;
  color: #eee;
  padding: 2px 4px;
  border-radius: 2px;
}

.quest img,
.quest-html-img {
  width: var(--box-size);
  height: var(--box-size);
}

.quest.is-completed img {
}

.quest.is-completed::after {
  content: "✔";
  position: absolute;
  bottom: 32;
  right: 32;
  font-size: 20px;
  background: #62b628;
  color: #333;
  border-radius: 8px;
  width: 20px;
  height: 20px;
  padding: 4px 0 4px 8px;
  line-height: 20px;
}

.quest-skills-list {
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--box-size);
  overflow: hidden;
  padding: 2em;
  display: none;
}

.quest:hover .quest-skills-list {
  display: flex;
}

.quest-skill {
  background: rgb(127, 178, 222);
  color: white;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.quest-html-img {
  background: #141414;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.quest-html-img pre {
  border: none;
  padding: 0;
  margin: 0;
}

/* Glow :)
 * https://codersblock.com/blog/creating-glow-effects-with-css/
 */
.status-new {
  box-shadow:
    0 0 60px 30px #fff,  /* inner white */
    0 0 100px 60px #0f0, /* middle green */
    0 0 140px 90px #0ff; /* outer orange */
}

.status-homework {
  box-shadow:
    0 0 60px 30px #fff,  /* inner white */
    0 0 100px 60px #00f, /* middle blue */
    0 0 140px 90px #0ff; /* outer orange */
}

.status-homework-done {
  border: green solid 4px;
}

.status-forgotten {
  box-shadow:
    0 0 60px 30px #fff,  /* inner white */
    0 0 100px 60px #f00, /* middle red */
    0 0 140px 90px #f00; /* outer red */
}
