svg.quest-card-border,
svg.cyberpunk-border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

svg.quest-card-border {
  width: var(--width);
  height: var(--height);
}

svg.cyberpunk-border {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.quest-card-border path,
.cyberpunk-border path {
  stroke: #0c6cb8;
  fill: none;
  stroke-width: 1;
}


.cyberpunk-border path {
  stroke-width: 4;
}
