.twitch h1 {
  text-align: center;
  color: aqua;
}

.twitch h2 {
  color: #46f000;
}
.twitch p {
  padding: 1em;
}

.twitch figure {
}

.twitch figure video {
  width: 100%;
}

.twitch a,
.twitch a:link,
.twitch a:visited {
  color: aqua;
}

