/* Клетчатый баг-граунд, смари:
 * https://stackoverflow.com/a/32861765/1657101
 */
body {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

body {
  margin: 0;
  padding: 30px;
}

#bullet {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

#shahed {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 300px;
  top: 400px;
}

#line-x-300,
#line-x-300-text {
  position: absolute;
  left: 300;
  top: 0;
}

#line-x-400,
#line-x-400-text {
  position: absolute;
  left: 400;
  top: 0;
}

#line-y-400,
#line-y-400-text {
  position: absolute;
  top: 400;
  left: 0;
}

#line-x-300,
#line-x-400 {
  width: 1px;
  height: 100vh;
  border-left: dashed red 4px;
  bottom: 0;
}

#line-y-400 {
  height: 1px;
  border-top: dashed red 4px;
  width: 100vw;
  bottom: 0;
}

#line-x-300-text, 
#line-x-400-text,
#line-y-400-text {
  font-size: 24px;
  font-weight: bold;
  padding: 16px;
}
