/* Клетчатый баг-граунд, смари:
 * https://stackoverflow.com/a/32861765/1657101
 */
body {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

body {
  margin: 0;
  padding: 30px;
}

#graph {
  position: relative;
  border: solid red 1px;
  background: gray;
}

#bullet {
  position: absolute;
  top: -30px;
  left: -30px;
  background: black;
  width: 30px;
  height: 30px;
}

#xuy4ek {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 400px;
  background: aqua;
  opacity: 50%;
}
