/* Клетчатый баг-граунд, смари:
 * https://stackoverflow.com/a/32861765/1657101
 */
body {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}

body {
  margin: 0;
  padding: 30px;
}

#graph {
  position: relative;
  border: solid red 1px;
  background: gray;
}

#bullet {
  position: absolute;
  top: -30px;
  left: -30px;
  background: black;
  width: 30px;
  height: 30px;
}

#xuy4ek {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 400px;
  background: aqua;
  opacity: 50%;
}

#line-x-300,
#line-x-300-text {
  position: absolute;
  left: 300;
  top: 0;
}

#line-y-400,
#line-y-400-text {
  position: absolute;
  top: 400;
  left: 0;
}

#line-x-300 {
  width: 1px;
  height: 100vh;
  border-left: dashed red 2px;
  bottom: 0;
}

#line-y-400 {
  height: 1px;
  border-top: dashed red 2px;
  width: 100vw;
  bottom: 0;
}
